venbrax/n8n-workflows/content-engine-workflow.json
{
  "name": "VenBraX Content Engine — 3x Daily",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {"field": "cronExpression", "expression": "0 9 * * *"},
            {"field": "cronExpression", "expression": "0 14 * * *"},
            {"field": "cronExpression", "expression": "0 19 * * *"}
          ]
        }
      },
      "id": "schedule",
      "name": "Horario 3 veces al día",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://content-engine:8001/generate",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "use_claude", "value": "true"}
          ]
        },
        "options": {}
      },
      "id": "generate",
      "name": "Genera Contenido (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// La API ya devuelve JSON parseado — sin parseo de texto frágil.\nconst data = $input.first().json;\nconst emojis = { linkedin: '💼', twitter: '🐦', instagram: '📸', tiktok: '🎬', threads: '🧵' };\n\nreturn Object.entries(data.posts).map(([platform, content]) => ({\n  json: {\n    platform,\n    emoji: emojis[platform] || '📤',\n    content,\n    chars: content.length,\n    insight: data.insight_title\n  }\n}));"
      },
      "id": "split",
      "name": "1 Item por Plataforma",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.emoji }} <b>{{ $json.platform.toUpperCase() }}</b> — {{ $json.insight }}\n\n{{ $json.content }}\n\n📏 {{ $json.chars }} chars",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "deliver",
      "name": "Entrega vía Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-venbratech",
          "name": "Telegram VenBraTech Bot"
        }
      }
    }
  ],
  "connections": {
    "Horario 3 veces al día": {
      "main": [[{"node": "Genera Contenido (API)", "type": "main", "index": 0}]]
    },
    "Genera Contenido (API)": {
      "main": [[{"node": "1 Item por Plataforma", "type": "main", "index": 0}]]
    },
    "1 Item por Plataforma": {
      "main": [[{"node": "Entrega vía Telegram", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "timezone": "America/Caracas",
    "executionOrder": "v1"
  },
  "_venbrax_notes": "v3 — usa HTTP Request en vez de Execute Command (nodo desactivado por seguridad en n8n moderno). El content_engine_server.py corre como servicio Docker separado 'content-engine' en la misma red interna que n8n. 4 nodos, todos productivos. Requiere: docker-compose.yml actualizado con el servicio content-engine (ver update-docker-compose.sh), credencial Telegram Bot configurada, TELEGRAM_CHAT_ID como variable de n8n."
}
