venbrax/n8n-workflows/content-engine-workflow.json
{
  "name": "VenBraX Content Engine — 3x Daily",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {"field": "cronExpression", "expression": "0 9 * * *"},
            {"field": "cronExpression", "expression": "0 14 * * *"},
            {"field": "cronExpression", "expression": "0 19 * * *"}
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Schedule — 3x/día",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "command": "cd /opt/venbrax && python3 content_engine.py --use-claude 2>&1"
      },
      "id": "run-content-engine",
      "name": "Genera Contenido (Claude)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.stdout || '';\nconst lines = output.split('\\n');\n\nconst posts = {};\nlet currentPlatform = null;\nlet buffer = [];\n\nfor (const line of lines) {\n  if (line.startsWith('PLATAFORMA: ')) {\n    if (currentPlatform && buffer.length > 0) {\n      posts[currentPlatform] = buffer.join('\\n').trim();\n    }\n    currentPlatform = line.replace('PLATAFORMA: ', '').toLowerCase();\n    buffer = [];\n  } else if (line.startsWith('='.repeat(10))) {\n    // skip separators\n  } else if (line.startsWith('CHARS: ') || line.startsWith('[')) {\n    // skip meta\n  } else if (currentPlatform) {\n    buffer.push(line);\n  }\n}\nif (currentPlatform && buffer.length > 0) {\n  posts[currentPlatform] = buffer.join('\\n').trim();\n}\n\nreturn Object.entries(posts).map(([platform, content]) => ({\n  json: { platform, content, timestamp: new Date().toISOString() }\n}));"
      },
      "id": "parse-output",
      "name": "Parsea Posts por Plataforma",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.platform }}",
              "operation": "equals",
              "value2": "linkedin"
            }
          ]
        }
      },
      "id": "route-linkedin",
      "name": "LinkedIn?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.platform }}",
              "operation": "equals",
              "value2": "twitter"
            }
          ]
        }
      },
      "id": "route-twitter",
      "name": "Twitter/X?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 380]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "text": "={{ $json.content }}",
        "additionalFields": {}
      },
      "id": "post-linkedin",
      "name": "Post LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [1120, 200],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "linkedin-venbratech",
          "name": "LinkedIn VenBraTech"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.content }}",
        "additionalFields": {}
      },
      "id": "post-twitter",
      "name": "Post Twitter/X",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 1,
      "position": [1120, 380],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "twitter-venbratech",
          "name": "Twitter VenBraTech"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "✅ <b>VenBraX Content Engine</b>\n\n📤 Posts publicados:\n• LinkedIn ✓\n• Twitter/X ✓\n• Instagram ⚡ (conectar)\n• TikTok ⚡ (conectar)\n• Threads ⚡ (conectar)\n\n🕐 {{ $now.toFormat('HH:mm') }} — Próximo en 5h",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "notify-telegram",
      "name": "Notifica Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1340, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-venbratech",
          "name": "Telegram VenBraTech Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule — 3x/día": {
      "main": [[{"node": "Genera Contenido (Claude)", "type": "main", "index": 0}]]
    },
    "Genera Contenido (Claude)": {
      "main": [[{"node": "Parsea Posts por Plataforma", "type": "main", "index": 0}]]
    },
    "Parsea Posts por Plataforma": {
      "main": [
        [{"node": "LinkedIn?", "type": "main", "index": 0}],
        [{"node": "Twitter/X?", "type": "main", "index": 0}]
      ]
    },
    "LinkedIn?": {
      "main": [[{"node": "Post LinkedIn", "type": "main", "index": 0}]]
    },
    "Twitter/X?": {
      "main": [[{"node": "Post Twitter/X", "type": "main", "index": 0}]]
    },
    "Post LinkedIn": {
      "main": [[{"node": "Notifica Telegram", "type": "main", "index": 0}]]
    },
    "Post Twitter/X": {
      "main": [[{"node": "Notifica Telegram", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "timezone": "America/Caracas",
    "executionOrder": "v1"
  },
  "_venbrax_notes": "Importa este JSON en n8n: Settings → Import from file. Configura credenciales: LinkedIn OAuth2, Twitter API, Telegram Bot. Instala content_engine.py en /opt/venbrax/ en el VM."
}
