venbrax/n8n-workflows/error-sentinel-workflow.json
{
  "name": "Error Sentinel",
  "nodes": [
    {
      "parameters": {},
      "id": "err-trigger-001",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const e = $input.first().json;\nconst wf = e.workflow?.name || 'desconocido';\nconst node = e.execution?.lastNodeExecuted || '?';\nconst msg = e.execution?.error?.message || 'sin mensaje';\nconst url = e.execution?.url || '';\n\nreturn [{ json: {\n  text: `🔴 <b>ERROR en n8n</b>\\n\\n` +\n        `📋 Workflow: <b>${wf}</b>\\n` +\n        `📍 Nodo: <b>${node}</b>\\n` +\n        `💬 ${msg}\\n` +\n        (url ? `\\n🔗 ${url}` : '') +\n        `\\n\\n🩺 n8n Doctor lo reintentará en la próxima pasada (≤15 min).`\n}}];"
      },
      "id": "err-format-002",
      "name": "Formatear Alerta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "err-telegram-003",
      "name": "Alerta Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "telegramApi": {
          "id": "REEMPLAZAR_EN_UI",
          "name": "Telegram VenBraX"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [[{ "node": "Formatear Alerta", "type": "main", "index": 0 }]]
    },
    "Formatear Alerta": {
      "main": [[{ "node": "Alerta Telegram", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
